version: "3.8"

services:
  accounts.api:
    build:
      context: .
      dockerfile: BankMore.Accounts.Api/Dockerfile
    container_name: accounts.api
    ports:
      - "5001:80"
    environment:
      ASPNETCORE_URLS: "http://+:80"
      ASPNETCORE_ENVIRONMENT: "Production"
      ConnectionStrings__Default: "Data Source=accounts.db"
      Jwt__Issuer: "BankMore"
      Jwt__Audience: "BankMore"
      Jwt__Key: "XnJwItUcwsIJoVGn8Q261By26UaAPezn"
      Jwt__ExpMinutes: "60"
    volumes:
      - accounts_data:/data

  transfers.api:
    build:
      context: .
      dockerfile: BankMore.Transfers.Api/Dockerfile
    container_name: transfers.api
    ports:
      - "5002:80"
    environment:
      ASPNETCORE_URLS: "http://+:80"
      ASPNETCORE_ENVIRONMENT: "Production"
      ConnectionStrings__Default: "Data Source=transfers.db"
      AccountsApi__BaseUrl: "http://accounts.api" 
      Jwt__Issuer: "BankMore"
      Jwt__Audience: "BankMore"
      Jwt__Key: "XnJwItUcwsIJoVGn8Q261By26UaAPezn"
      Jwt__ExpMinutes: "60"
    volumes:
      - transfers_data:/data
    depends_on:
      - accounts.api

volumes:
  accounts_data:
  transfers_data:
